
.project
    .nav-step
        .bar
            margin: 0 auto
            width: 288px
            @include medium
                width: 403px
        .progress-bar
            display: flex
            transition: all .2s ease
            span.line
                height: 20px
                width: 100%
                content: ''
                background-color: $gris2
                &.check
                    background-color: $primary
        .current-step
            position: relative
            width: 100%
            margin: 0 auto
            margin-top: 1.5rem
            button
                background-color: transparent;
                position: absolute
                cursor: pointer
                border: none
                left: 60px
                &:focus
                    outline: none
                i
                    font-size: 1.5rem
                    color: $primary
            p
                margin: 0

    .options
        margin: 0 auto
        width: 288px
        @include medium
            width: 403px
        @include large
            width: 956px
            justify-content: unset;
        .card-button
            font-family: 'Poppins-Medium'
            height: 140px
            border: none
            background-color: $white
            margin-bottom: 8px
            padding: .0 .6rem
            color: $oscuro

            -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
            -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);

            width: 140px
            @include medium
                width: 195.89px
                height: 195.89px
            @include large
                width: 100%
                height: 224px
                &:not(:last-child)
                    margin-right: 1.5rem

            &:hover
                cursor: pointer
                @include medium
                    color: $primary
                    background-color: lighten($primary, 73%)
                    border: 1px solid $primary
                    i
                        color: $primary
            i
                display: block
                font-size: 3rem
                margin-bottom: .5rem
                color: $oscuro
                