.slider
    padding-top: 100px
    height: calc(100vh - 100px)
    .buttons
        .button
            height: 50px
            width: 50px
            background-color: $claro
            display: flex
            justify-content: center
            align-items: center
            font-size: 1rem
            color: $grisoscuro
            cursor: pointer
            &.active
                background-color: $gris
                color: $primary